<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="babiy.reminder">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/notebook"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Monday_Activity"
            android:label="@string/monday" />
        <activity
            android:name=".Tuesday_Activity"
            android:label="@string/tuesday" />
        <activity
            android:name=".Wednesday_Activity"
            android:label="@string/wednesday" />
        <activity
            android:name=".Thursday_Activity"
            android:label="@string/thursday" />
        <activity
            android:name=".Friday_Activity"
            android:label="@string/friday" />
        <activity
            android:name=".Saturday_Activity"
            android:label="@string/saturday" />
        <activity
            android:name=".Sunday_Activity"
            android:label="@string/sunday" />
        <activity
            android:name=".Edit_Activity"
            android:label="@string/write"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".DeleteAll"
            android:label="@string/deleteAll"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".SearchTwo"
            android:theme="@style/Theme.AppCompat.Dialog">

        </activity>

    </application>

</manifest>